In [3]:
# Q1 answer

In [22]:
string="my name is aditya"
float=13.52
list=[1,2,3,4,"aditya",13.25]
tuple=("car","bike")

In [24]:
# Q.2 answer

In [28]:
#  var1 = ‘ ‘ = it is string
# var2 = ‘[ DS , ML , Python]’ = it is string which contain list
#  var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] = it is a list
#  var4 = 1. it is a int or float.

In [2]:
# Q3 answer
a=3
b=10
c=b/a
print(c)

3.3333333333333335

In [3]:
a=5
b=11
c=b%a
print(c)

1

In [4]:
a=5
b=10
c=b//a
print(c)

2

In [5]:
2**3

8

In [27]:
# Q4 answer
mylist=[1,2,3,4,5,6,7,"aditya",33.54,"open"]
for i in mylist:
       print(f"{i}-{type(i)}")

1-<class 'int'>
2-<class 'int'>
3-<class 'int'>
4-<class 'int'>
5-<class 'int'>
6-<class 'int'>
7-<class 'int'>
aditya-<class 'str'>
33.54-<class 'float'>
open-<class 'str'>

In [17]:
# Q5 answer
a=10
b=5
i=0
while(a%b==0):
   a/=b
i=i+1
if i>0:
        print(i)

1

In [20]:
# Q6 answer
mylist=[2,4,6,8,10,12,14,16,18,20,21,22,23,24,25,26,27,28,29,30,1,3,5,7,9]
for i in mylist:
    if i%3==0:
        print(f"{i} is divided by 3")
    else:
        print(f"{i} is not divided by 3")

2 is not divided by 3
4 is not divided by 3
6 is divided by 3
8 is not divided by 3
10 is not divided by 3
12 is divided by 3
14 is not divided by 3
16 is not divided by 3
18 is divided by 3
20 is not divided by 3
21 is divided by 3
22 is not divided by 3
23 is not divided by 3
24 is divided by 3
25 is not divided by 3
26 is not divided by 3
27 is divided by 3
28 is not divided by 3
29 is not divided by 3
30 is divided by 3
1 is not divided by 3
3 is divided by 3
5 is not divided by 3
7 is not divided by 3
9 is divided by 3

In [27]:
# Q7 answer
# mutable data types are those which allow to change or overwrite thorought there index.
# immutable data types are those which doesn't allow to change or overwrite
l=[1,2,3,"aditya"]
l[2]=200
l

[1, 2, 200, 'aditya']

In [26]:
s="aditya"
s[4]=a

TypeError: 'str' object does not support item assignment