#Q1

import pandas as pd

data =[4, 8, 15, 16, 23, 42]

series = pd.Series(data)

In [6]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2

In [7]:
import pandas as pd

data =[1,2,3,4,5,6,7,8,9,10]

series =pd.Series(data)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3

In [8]:
import pandas as pd


data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}


df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4

DataFrame:

Think of a DataFrame as a two-dimensional labeled table.
It stores tabular data with multiple columns representing different variables and rows representing observations.
Each column can have a different data type (strings, numbers, dates, etc.).
It excels at tasks like:
Data cleaning and manipulation (selecting, filtering, sorting, grouping)
Exploratory data analysis (statistics, correlations, visualizations)
Joining and merging datasets

                DataFrame	                  Series
Dimensionality	2D (rows & columns)	             1D (single column)
Data types	Mixed in different columns	          Same across all values
Indexing	Multi-dimensional (row & column labels)  	Single-dimensional (labels)
Use cases	Tabular data analysis, merging, transformations	   Single variable analysis, statistics, calculations

Q5

df.head(n): Shows the first n rows.
df.tail(n): Shows the last n rows.
df[condition]: Filters rows based on a boolean condition.


# Select rows where age is greater than 27
df_filtered = df[df['Age'] > 27]

# Select first two rows and 'Age' column
df_subset = df.loc[:1, 'Age']

Q6

All three, Series, DataFrame, and Panel, are mutable in nature. However, there's a nuance to their mutability