In [9]:
#q1

data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])


print("Sorted list of tuples based on integer value:")
for player, runs in sorted_data:
    print(f"{player}: {runs}")

Sorted list of tuples based on integer value:
Virat Kohli: 24936
Jack Kallis: 25534
Ricky Ponting: 27483
Sachin Tendulkar: 34357

In [2]:
#q2

l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2 ,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#q3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda  x: str(x), l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [18]:
#q4
from functools import reduce

l=list(range(1,26))

reduce(lambda x,y: x*y, l)

15511210043330985984000000

In [20]:
#q5
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0 ,l))

[6, 60, 90, 120]

In [21]:
l=['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x: x==[::-1],l)

SyntaxError: invalid syntax (2233121975.py, line 3)